In [ ]:
#Inspect dataset

#import pandas as pd

#df_all = pd.read_csv("/Users/mariamorazamora/Desktop/Prototyping/Assignment 1/credit_card_transactions.csv")

#print("Shape:")
#print(df_all.shape)

#print("\nColumns:")
#print(df_all.columns)

#print("\nFirst rows:")
#print(df_all.head())

#print("\nInfo:")
#print(df_all.info())

Shape:
(1296675, 24)

Columns:
Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

First rows:
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      long city_pop  \
0    Banks      F                561 Perry Cove  ...  -81.1781     3495
1     Gill      F  43039 Riley Greens Suite 393  ... -118.2105      149
2  Sanchez      M      594 White Dale Suite 530  ... -112.2620     4154
3    White      M   9443 Cynthia Court Apt. 038  ... -112.1138     1939
4   Garcia      M              408 Bradley Rest  ...  -79.4629       99

                                 job         dob  \
0          Psychologist, counselling  1988-03-09
1  Special educational needs teacher  1978-06-21
2        Nature conservation officer  1962-01-19
3                    Patent attorney  1967-01-12
4     Dance movement psychotherapist  1986-03-28

                          trans_num   unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459

  is_fraud  merch_zipcode
0        0        28705.0
1        0            NaN
2        0        83236.0
3        0            NaN
4        0        22844.0

[5 rows x 24 columns]

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
 23  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 237.4+ MB
None

In [1]:
#Inspect filtered (only one person) dataset

import pandas as pd

df = pd.read_csv("transactions_user_24_ccnum_567868110212.csv")

print("Shape:")
print(df.shape)

print("\nColumns:")
print(df.columns)

print("\nFirst rows:")
print(df.head())

print("\nInfo:")
print(df.info())

Shape:
(2558, 9)

Columns:
Index(['trans_date_trans_time', 'cc_num', 'category', 'amt', 'merchant',
       'is_fraud', 'year', 'month', 'day'],
      dtype='object')

First rows:
  trans_date_trans_time        cc_num       category     amt  \
0   2019-01-01 17:03:45  567868110212   shopping_net    9.17
1   2019-01-02 13:16:51  567868110212      kids_pets   30.87
2   2019-01-02 23:03:27  567868110212   shopping_pos   60.39
3   2019-01-03 15:00:35  567868110212  personal_care  134.95
4   2019-01-03 15:54:54  567868110212   shopping_pos    2.50

                merchant  is_fraud  year  month  day
0  fraud_Kerluke-Abshire         0  2019      1    1
1      fraud_Ullrich Ltd         0  2019      1    2
2       fraud_Dooley Inc         0  2019      1    2
3      fraud_Reichel LLC         0  2019      1    3
4   fraud_Torphy-Goyette         0  2019      1    3

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2558 entries, 0 to 2557
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  2558 non-null   object
 1   cc_num                 2558 non-null   int64
 2   category               2558 non-null   object
 3   amt                    2558 non-null   float64
 4   merchant               2558 non-null   object
 5   is_fraud               2558 non-null   int64
 6   year                   2558 non-null   int64
 7   month                  2558 non-null   int64
 8   day                    2558 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 180.0+ KB
None

In [ ]:
#Sanity check (should be only 1 user)

n_users = df["cc_num"].nunique()
print(n_users)

1

In [6]:
#Transform dataset acording to my needs

#convert date
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])

#extract info from date
df["year"] = df["trans_date_trans_time"].dt.year
df["month"] = df["trans_date_trans_time"].dt.month
df["day"] = df["trans_date_trans_time"].dt.day

#amount of users
#df["cc_num"].nunique() #983

#choose one random user and work with that
#user_id = df["cc_num"].iloc[24]
#df_user = df[df["cc_num"] == user_id].copy()
#since now the db is already filtered:
df_user = df.copy()

#amount of months of that user
df_user.groupby(["year", "month"]).size()

#categories
df_user["category"].value_counts()

category
shopping_pos      297
grocery_pos       251
shopping_net      250
home              228
kids_pets         217
personal_care     196
food_dining       189
misc_pos          176
health_fitness    172
entertainment     165
grocery_net       153
misc_net          130
gas_transport      85
travel             49
Name: count, dtype: int64

In [7]:
#Now that we now that the slected user has enough data, I will clean the dataset 

category_map = {
    "grocery_pos": "Groceries",
    "grocery_net": "Groceries",
    "food_dining": "Eating out",
    "entertainment": "Leisure",
    "travel": "Leisure",
    "shopping_pos": "Shopping",
    "shopping_net": "Shopping",
    "gas_transport": "Transport",
    "home": "Home",
    "personal_care": "Personal care",
    "health_fitness": "Health",
    "kids_pets": "Kids & Pets",
    "misc_pos": "Misc",
    "misc_net": "Misc"
}

df_user["budget_category"] = df_user["category"].map(category_map)

In [8]:
#decide on a random current date

CURRENT_YEAR = 2020
CURRENT_MONTH = 6

df_train = df_user[
    (df_user["year"] < CURRENT_YEAR) |
    ((df_user["year"] == CURRENT_YEAR) & (df_user["month"] < CURRENT_MONTH))
].copy()

df_current = df_user[
    (df_user["year"] == CURRENT_YEAR) &
    (df_user["month"] == CURRENT_MONTH)
].copy()

In [9]:
#create consumption curve

# Daily spend
daily_train = (
    df_train
    .groupby(["year","month","budget_category","day"])["amt"]
    .sum()
    .reset_index()
)

# Monthly totals
monthly_totals = (
    daily_train
    .groupby(["year","month","budget_category"])["amt"]
    .sum()
    .reset_index()
    .rename(columns={"amt":"month_total"})
)

daily_train = daily_train.merge(
    monthly_totals,
    on=["year","month","budget_category"]
)

daily_train["cum_spend"] = (
    daily_train
    .sort_values("day")
    .groupby(["year","month","budget_category"])["amt"]
    .cumsum()
)

daily_train["cum_frac"] = daily_train["cum_spend"] / daily_train["month_total"]

# Average curve
avg_curve = (
    daily_train
    .groupby(["budget_category","day"])["cum_frac"]
    .mean()
    .reset_index()
)

In [10]:
#Forecast for the current month

DAY_FOR_FORECAST = 15

current_spent = (
    df_current[df_current["day"] <= DAY_FOR_FORECAST]
    .groupby("budget_category")["amt"]
    .sum()
    .reset_index()
    .rename(columns={"amt":"spent_so_far"})
)

forecast_rows = []

for _, row in current_spent.iterrows():
    cat = row["budget_category"]
    spent = row["spent_so_far"]

    frac_row = avg_curve[
        (avg_curve["budget_category"] == cat) &
        (avg_curve["day"] == DAY_FOR_FORECAST)
    ]

    if frac_row.empty:
        continue

    frac = frac_row["cum_frac"].iloc[0]
    forecast = spent / frac

    forecast_rows.append({
        "category": cat,
        "spent_so_far": spent,
        "forecast_end_month": forecast
    })

forecast_df = pd.DataFrame(forecast_rows)
print(forecast_df)

        category  spent_so_far  forecast_end_month
0     Eating out        296.30          541.299510
1      Groceries       2472.73         4687.460994
2         Health        534.49         1296.891988
3           Home        280.58          677.314542
4    Kids & Pets        335.61          611.184718
5        Leisure        557.12         1208.530787
6           Misc        439.46         1261.547706
7  Personal care        495.67         1081.552367
8       Shopping        689.70         1366.648191
9      Transport        172.06          304.018092